@model PriMiClinic.Models.Doctor

@{
    ViewData["Title"] = "Add Doctor";
}

<div class="container mt-4">

    <h2 class="page-title mb-4">
        ➕ Add Doctor
    </h2>

    <div class="card shadow">

        <div class="card-body">

            <form asp-action="Create">

                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Specialization"></label>
                    <input asp-for="Specialization"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email"
                           class="form-control" />
                </div>

                <button class="btn btn-primary">
                    Save Doctor
                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>